.Home {
  /* border: 3px solid red; */
  width: calc(100% - 50px);
  background-color: #fff;
  z-index: 5;
  border-radius: 20px 0 0 20px;
  box-shadow: 4px 12px 30px 6px rgba(106, 36, 36, 0.1);
  .home-container {
    padding: 50px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }
  h1 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: -4.8px;
  }
  .sub {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    color: #000;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -1.6px;
    span:first-child {
      font-family: Montserrat;
    }
  }
  .sns {
    margin-left: 10px;
    display: flex;
    gap: 50px;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}